body {
  background-color: #424242;
  color: #fff;
}
.navbar {
  height: 75px;
  background-color: #424242;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #fff;
}

li {
  display: inline;
  margin:0 15px;
}

a {
  color:#fff;
  text-decoration: none;
  font-weight: 600;
}

.regular {
  display:flex;
}
